/*아래 항목들은 프리티어 제외 항목*/

# 빌드 결과물
dist
build
coverage

# 패키지 관리
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# 설정 파일
*.log

# 정적 파일
public

# 환경 파일
.env
.env.*

# 기타 무시할 항목
*.min.js
*.snap
